<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Demo AF+View+Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>655AEB3E192D42990053AD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>655AEB62192D429A0053AD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65889B6B1965051C0049740E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65889B7C1965051C0049740E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
